.dates {
	font-family: Arial, Helvetica, Verdana;
	color: white;
	font-size: 8pt;
}

.dates A:link
{
	color: white;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
.dates A:visited
{
	color: white;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
.dates A:hover
{
	color: white;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline
}
.dates A:active
{
	color: white;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline
}

.month {
	font-family: Arial, Helvetica, Verdana;
	color: white;
	font-size: 24pt;
}
