html,
body {
	font-family: Arial, Helvetica, Verdana;
	color: white;
	font-size: 10pt;
}

body {
  background-color: black;
  
}

a {
  color: inherit;
  text-decoration: none;
}

a:link
{
	color: #76A7CB;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}

a:visited
{
	color: #76A7CB;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
a:hover
{
	color: #06AFFF;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
	background: #204040
}
a:active
{
	color: #0099FF;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline
}


* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

h1 {
	font-family: Arial, Helvetica, Verdana;
	color: #0099FF;
	font-size: 24pt;
	FONT-WEIGHT: bold;
}

h3 {
	font-family: Arial, Helvetica, Verdana;
	color: #0099FF;
	font-size: 14pt;
	FONT-WEIGHT: bold;
}