.header a {
	color: white;
}

.menu a {
	text-decoration: none;
	background: black;
}
.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.row:before,
.row:after {
	display:table;
	content: " ";
}
.row:after {
	clear: both;
}