.soulharvest {
	font-family: Arial, Helvetica, Verdana;
	color: white;
	font-size: 10pt;
}

.soulharvest A:link
{
	color: #76A7CB;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}

.soulharvest A:visited
{
	color: #76A7CB;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
.soulharvest A:hover
{
	color: #06AFFF;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline;
	background: #204040
}
.soulharvest A:active
{
	color: #0099FF;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: underline
}

.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}